/* Estilos Base */
@font-face {
    font-family: Overpass;
    font-weight: normal;
    src: url(./fonts/Overpass-Regular.ttf);
}
@font-face {
    font-family: Overpass;
    font-weight: bold;
    src: url(./fonts/Overpass-Bold.ttf)
}
@font-face {
    font-family: Overpass;
    font-weight: 600;
    src: url(./fonts/Overpass-SemiBold.ttf);
}
:root {
    --red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --white: hsl(0, 0%, 100%);
    --blue: hsl(237, 17%, 21%);
    --desaturated-blue: hsl(237, 23%, 32%);
    --fuentePrincipal: Overpass;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}
ul {
    list-style: none;
}
a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
.img {
    display: block;
    margin: 2rem auto;
    width: 100%;
}
/* Fin estilos base */
/* Cabecera */
.main-nav-desktop {
    display: none;
}
.main-header {
    padding: 3rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 1s ease-in-out;
}
.not-in-cover {
    background-color: rgba(0, 0, 0, 0.8);
    top: -30px;
    height: 100px;
    transition: all 1s ease-in-out;
}
.main-header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hamburguer {
    height: 20px;
    width: 35px;
}
.main-nav {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--desaturated-blue);
    color: var(--desaturated-blue);
    padding: 3rem 1rem;
    text-align: center;
    margin-top: 2rem;
}
.main-nav .menu-item {
    margin: 2rem 0;
}
.menu-item .active-arrow {
    transform: rotate(180deg);
}
.main-nav .sub-items-container {
    background-color: hsl(240, 2%, 79%);
    border-radius: 5px;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 0;
}
.main-nav .sub-items-container .submenu-item {
    margin: 1rem 0;
}
.main-nav hr {
    margin: 1rem 0;
}
.main-nav .gradient-bg-button {
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: var(--white);
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 1rem;
}
.hidden-nav {
    display: none;
}
/* Fin cabecera */
/* Portada */
.cover-section {
    background-color: var(--very-light-red);
    background-image: url(/images/bg-pattern-intro.svg);
    background-size: 1000px;
    background-position: center center;
    border-radius: 0 0 0 100px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10%;
    text-align: center;
}
.cover-section .buttons {
    margin-top: 2rem;
}
.button {
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    padding: 5%;
    margin: 0 10px;
}
.white-button {
    background-color: var(--white);
    color: var(--very-light-red);
}
.transparent-button {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* Sección de contenido principal */
.main-content {
    margin: 5rem auto 5rem auto;
    text-align: center;
}
.main-content h2 {
    color: var(--blue);
    margin-bottom: 2rem;
}
.main-content p {
    margin-bottom: 2rem;
}
.container {
    width: 85%;
    margin: 0 auto 0 auto;
}
.overflow-img-section {
    background-image: url(./images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center -200px;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 20rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 100px 0 100px;
    padding: 0 10%;
    position: relative;
}
.overflow-img-section h2 {
    color: var(--white);
    font-size: 32px;
    margin-top: 50%;
}
.overflow-img-section .overflow-img {
    position: absolute;
    top: -200px;
    left: 0;
}
/* Fin sección de contenido principal */

/* Footer */
.main-footer {
    background-color: var(--blue);
    border-radius: 0 100px 0 0;
    color: var(--white);
    text-align: center;
    padding: 5rem 0;
}
.footer-logo {
    margin-bottom: 5rem;
}
.footer-nav .menu-item {
    font-weight: bold;
}
.footer-nav .submenu-item {
    font-weight: normal;
    margin: 5px 0;
}
.footer-nav .sub-items-container {
    margin: 2rem 0;
}
/* Fin footer */

/* Estilos para tablet */
@media (min-width: 768px){
    .button {
        padding: 2%;
    }
    .overflow-img-section {
        min-height: 90vh;
    }
    .overflow-img {
        height: 500px;
    }    
}
/* Fin estilos para tablet */

/* Estilos para escritorio */
@media(min-width: 1280px){
    body {
        overflow-x: hidden;
    }
    .mobile {
        display: none;
    }
    .main-nav-desktop {
        display: block;
    }
    .main-header .top-bar {
        color: var(--white);
        justify-content: flex-start;
        margin: 0 auto;
        width: 80%;
    }
    .not-in-cover {
        height: 110px;
    }
    .main-nav-desktop {
        margin-left: 5rem;
        width: 100%;
    }
    .main-nav-desktop > ul {
        display: flex;
        align-items: center;
    }
    .main-nav-desktop > ul > .menu-item {
        margin: 0 1rem;
        cursor: pointer;
    }
    .main-nav-desktop .menu-item .active {
        display: block;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 2%;
        position: absolute;
        box-shadow: 0px 0px 10px #333;
        margin-top: 1rem;
    }
    .main-nav-desktop .menu-item .active .submenu-item {
        margin: 5px 0;
    }
    .user-nav-section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        width: 25%;
    }
    .user-nav-section li:nth-child(2) {
        text-align: center;
        width: 70%;
    }
    .user-nav-section li:nth-child(2) button {
        color: var(--red);
        padding: 10% 15%;
    }
    .cover-section {
        background-size: 150%;
        min-height: 60vh;
    }
    .cover-section h1 {
        font-size: 38px;
    }
    .section-content {
        display: flex;
        text-align: left;
        position: relative;
    }
    .section-content img {
        position: absolute;
        width: 70%;
        right: -20%;
        top: -40%;
    }
    .section-content .content {
        width: 50%;
    }
    .overflow-img-section {
        align-items: flex-end;
        min-height: auto;
        height: 50vh;
        background-position: left center;
        background-size: 60%;
        margin-bottom: 15rem;
    }
    .overflow-img-section .overflow-img {
        width: 50%;
        height: 70vh;
        top: -100px;
        left: 40px;
    }
    .overflow-img-section h2, .overflow-img-section p {
        width: 50%;
        margin-top: 0;
        text-align: left;
    }
    .reverse {
        flex-direction: row-reverse;
        margin-bottom: 15rem;
    }
    .reverse img {
        right: auto;
        left: -30%;
        top: -50%;
        width: 85%;
    }
    .main-footer {
        display: flex;
        text-align: left;
        padding: 5rem 5%;
    }
    .footer-logo {
        height: 50px;
        width: 10%;
    }
    .footer-nav {
        width: 80%;
    }
    .footer-nav > ul {
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
    }
}
/* Fin estilos para escritorio */